NEXT_PUBLIC_WHATSAPP_NUMBER=+51 932 123 393
NEXT_PUBLIC_PRODUCTS_SHEET_URL=https://docs.google.com/spreadsheets/d/1VAcMglLd0xNczaLwMFPIuxr3uSQKnd4jJpbAN7KJfFU/export?format=csv&edit?gid=1332244286#gid=1332244286
NEXT_PUBLIC_TRACEABILITY_SHEET_URL=https://docs.google.com/spreadsheets/d/19Lh-hrAE-8h01L5omE_LyoQdBj3SGk2v9MTdjeVq2xU/export?format=csv&edit?gid=1332244286#gid=1332244286
